ci:
  autoupdate_commit_msg: "chore(deps): update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
  autoupdate_schedule: monthly

exclude: ^src/scikit_build_core/_vendor

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "^tests/packages/|^tests/utils"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: "^tests"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.11
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        exclude: ^src/scikit_build_core/resources/find_python

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.5.3"
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=always]
        exclude: "^tests|src/scikit_build_core/resources/scikit-build.schema.json|^docs/projects.md"

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        exclude: |
          (?x)^(
            tests/packages/simplest_c/src/simplest/__init__.py|
            tests/packages/dynamic_metadata/src/dynamic/__init__.py|
            tests/packages/.*/setup.py
          )
        files: ^(src|tests|noxfile.py)
        args: []
        additional_dependencies:
          - build
          - cattrs
          - cmake
          - exceptiongroup
          - hatch-fancy-pypi-readme>=24
          - importlib-resources
          - markdown-it-py
          - ninja
          - nox
          - orjson
          - packaging>=24.2
          - pytest
          - pytest-subprocess
          - rich
          - setuptools-scm
          - tomli
          - types-setuptools>=70.1

  - repo: https://github.com/henryiii/check-sdist
    rev: "v1.2.0"
    hooks:
      - id: check-sdist
        args: [--inject-junk]
        additional_dependencies:
          - hatchling
          - hatch-vcs

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(LICENSE$|src/scikit_build_core/resources/find_python|tests/test_skbuild_settings.py$)

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-expressions
        name: Disallow expressions
        language: pygrep
        entry: tool\.cmake
        exclude: .pre-commit-config.yaml
      - id: cog
        name: Cog the documentation
        files: docs/.*/projects\.
        entry: cog -r -c
        args: [docs/about/projects.md]
        pass_filenames: false
        language: python
        additional_dependencies: [cogapp]

  - repo: https://github.com/henryiii/validate-pyproject-schema-store
    rev: 2025.05.12
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.0
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs
      - id: check-metaschema
        files: \.schema\.json

  - repo: https://github.com/citation-file-format/cffconvert
    rev: b6045d78aac9e02b039703b030588d54d53262ac
    hooks:
      - id: validate-cff

  - repo: https://github.com/scientific-python/cookie
    rev: 2025.05.02
    hooks:
      - id: sp-repo-review
