ci:
  autoupdate_commit_msg: "chore(deps): update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
  autoupdate_schedule: monthly

exclude: ^src/scikit_build_core/_vendor

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "^tests/packages/|^tests/utils"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: "^tests"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.*]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        exclude: ^src/scikit_build_core/resources/find_python

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=always]
        exclude: "^tests|src/scikit_build_core/resources/scikit-build.schema.json"
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
      - id: mypy
        exclude: |
          (?x)^(
            tests/packages/simplest_c/src/simplest/__init__.py|
            tests/packages/dynamic_metadata/src/dynamic/__init__.py|
            tests/packages/.*/setup.py
          )
        files: ^(src|tests|noxfile.py)
        args: []
        additional_dependencies:
          - build
          - cattrs
          - cmake
          - exceptiongroup
          - hatch-fancy-pypi-readme>=24
          - importlib-metadata>=6.6.0
          - importlib-resources
          - markdown-it-py<3 # Python 3.7 compat needed for mypy check
          - ninja
          - nox
          - packaging
          - pytest<8
          - rich
          - setuptools-scm
          - tomli
          - types-setuptools>=69.2

  - repo: https://github.com/henryiii/check-sdist
    rev: "v1.0.0rc2"
    hooks:
      - id: check-sdist
        args: [--inject-junk]
        additional_dependencies:
          - hatchling
          - hatch-vcs

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: ^(LICENSE$|src/scikit_build_core/resources/find_python|tests/test_skbuild_settings.py$)

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: .pre-commit-config.yaml
      - id: disallow-expressions
        name: Disallow expressions
        language: pygrep
        entry: tool\.cmake
        exclude: .pre-commit-config.yaml

  - repo: https://github.com/henryiii/validate-pyproject-schema-store
    rev: 2024.06.24
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.6
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs
      - id: check-metaschema
        files: \.schema\.json
