name: CD

on:
  workflow_dispatch:
  release:
    types:
      - published

env:
  FORCE_COLOR: 3

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build package
        run: pipx run build

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*

      - uses: pypa/gh-action-pypi-publish@v1.8.5
        if: github.event_name == 'release' && github.event.action == 'published'
        with:
          password: ${{ secrets.pypi_password }}
